<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 
<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
 <h2 >Spring Boot Crud System -Employee Registration</h2>

 <div align = "left" >    
      <h3><a  th:href="@{'/new'}">Add new</a></h3>     
     </div>
 

 <div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
       <th>Employee ID</th>
            <th>Employee Name</th>
            <th>City</th>
            <th>Salary</th>
            <th>Edit</th>
            <th>Delete</th>
   </tr>
  </thead>
  <tbody>
      <tr  th:each="employee : ${listemployee }">
 <td th:text="${employee.id}">Employee ID</td>
 <td th:text="${employee.ename}">Employee_Name</td>
 <td th:text="${employee.city}">City</td>
 <td th:text="${employee.salary}">Salary</td> 
 <td>
 <a th:href="@{'/edit/' + ${employee.id}}">Edit</a>
 </td>     
 <td>
 <a th:href="@{'/delete/' + ${employee.id}}">Delete</a>
 </td>     
 </tr> 
   
  </tbody>
</table>
                    
                 </div>
 
            </div> 
 
 </tr>
 
 </tbody>
 </table>
 <div>
</body>
</html>